<!doctype html>
<html>

<head>
    <title>Socket.IO chat</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font: 13px Helvetica, Arial;
        }

        form {
            background: #000;
            padding: 3px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        form input {
            border: 0;
            padding: 10px;
            width: 90%;
            margin-right: .5%;
        }

        form button {
            width: 9%;
            background: rgb(130, 224, 255);
            border: none;
            padding: 10px;
        }

        #messages {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        #messages li {
            padding: 5px 10px;
        }

        #messages li:nth-child(odd) {
            background: #eee;
        }
    </style>
</head>

<body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        $(function () {
            var socket = io();

            // Enter name and connect to server
            $('#btnConnect').click(() => {
                socket.emit('user connected', $('#txtName').val());
                $('#userNickName').css('display', 'none');
            })

            // Enter msg and submit to server
            $('form').submit((e) => {
                e.preventDefault(); // prevents page reloading
                let name = $('#txtName').val();
                let msg = $('#txtInput').val();
                socket.emit('chat message', msg, name);
                $('#txtInput').val('');
                $('#messages').append($('<li>').text(`${name}: ${msg}`)); // Get message from user directly
                return false;
            });

            // Detect user typing
            $('#txtInput').on('keyup', () => {
                let name = $('#txtName').val();
                let msg = $('#txtInput').val();
                if (msg.length > 0) socket.emit('user typing', name, true);
                else socket.emit('user typing', name, false)
            })

            // Listen event 'welcome'
            // socket.on('welcome', () => {
            //     $('#messages').append($('<li>').text('Welcome to socketio-chat, please enter your name and click connect button'));
            // });

            // Listen event 'chat message'
            socket.on('chat message', (msg, name) => {
                $('#' + name).remove();
                $('#messages').append($('<li>').text(`${name}: ${msg}`));
            });

            // Listen event 'user connected'
            socket.on('user connected', (name) => {
                $('#messages').append($('<li>').text(`User '${name}' connected`));
            });

            // Listen event 'user disconnected'
            socket.on('user disconnected', () => {
                $('#messages').append($('<li>').text(`User '${name}' has disconnected`));
            });

            // Listen event 'user typing'
            socket.on('user typing', (name, isTyping) => {
                if (isTyping && $('#' + name).length == 0) {
                    $('#messages').append($(`<li id="${name}">`).text(`'${name}' is typing...`));
                } else if (!isTyping) {
                    $('#' + name).remove();
                }
            });
        });
    </script>
    <ul id="messages"></ul>
    <div id="userNickName">
        <input id="txtName" autocomplete="off" placeholder="Nick name" /><button id="btnConnect">Connect</button>
    </div>
    <form action="">
        <input id="txtInput" autocomplete="off" /><button>Send</button>
    </form>
</body>

</html>